.card{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 80px;
    /* box-sizing: border-box; */
    align-items: center;
}
.cardRight{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
     /* background-color: green; */
     margin: 0px 30px;
     gap: 10px;
     
     

}


.cardLeft{
    display: flex;
    gap: 10px;
    /* background-color: green; */
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}
.cardLeft input{
    height: 30px;
}
.currselect{
    height: 35px;
    padding: 3px;
    border-radius: 20px;
}
.ammoutInput{
    /* margin-top: 20px; */
    border-radius: 20px;
    padding: 3px;

}
.ammoutInput::placeholder{
    text-align: center;
}