.card{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 80px;
    align-items: center;
    margin: 15px 0px;
}
.cardRight{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* background-color: green; */
     /* margin: 0px 30px; */
     gap: 10px;
     
     

}


.cardLeft{
    display: flex;
    gap: 10px;
    /* background-color: green; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.currselect{
    height: 2rem;
    padding: 3px;
    border-radius: 20px;
}
.ammoutInput{ 
    height: 30px;
    border-radius: 20px;
    padding: 3px;

}
.ammoutInput::placeholder{
    text-align: center;
}