*{
  font-family: "Chakra Petch", sans-serif;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.convert{
  background-color: white;
  color: black;
  margin: 20px;
}
.convert:hover{
  background-color: white;
  color: black;
}

.swapbtn{
  height: 15%;
  width: height;
  background-color: white;
  color: black;
}
@media only screen and (max-width: 875px) {
  .swapbtn{border-radius: 30%;
  }
  .wrapper{
    margin-left: 17px;
  }
 }
.wrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading h1{
  margin: 10vh 20vh;
}